In [67]:
import numpy as np
import pandas as pd

In [68]:
df = pd.read_csv('site_data.csv', header=None, names=['last_page_id', 'next_page_id'])

In [69]:
# Data 
# last_page_id = current_page_id - 1
# ==> start pages have last_page_id = -1
# B - Bounce
# C - Close

In [70]:
df.head()

   last_page_id next_page_id
0            -1            8
1             4            8
2            -1            2
3             1            B
4            -1            5

In [77]:
row_sums = dict(df['last_page_id'].value_counts())
df = df.groupby(['last_page_id', 'next_page_id']).size().reset_index(name='count')
df['page_val_count'] = df['last_page_id'].apply(lambda x: row_sums.get(x))
df['transition_probability'] = df['count']/df['page_val_count']

In [78]:
df.head()

   last_page_id next_page_id  count  page_val_count  transition_probability
0            -1            0   2045           19857                0.102986
1            -1            1   2055           19857                0.103490
2            -1            2   1888           19857                0.095080
3            -1            3   1889           19857                0.095130
4            -1            4   2034           19857                0.102432

In [79]:
# Initial state distribution
# that is last_page_id = -1
df[df['last_page_id'] == -1].sort_values('transition_probability', ascending=False)

   last_page_id next_page_id  count  page_val_count  transition_probability
9            -1            9   2062           19857                0.103842
1            -1            1   2055           19857                0.103490
0            -1            0   2045           19857                0.102986
4            -1            4   2034           19857                0.102432
8            -1            8   2016           19857                0.101526
7            -1            7   1980           19857                0.099713
6            -1            6   1946           19857                0.098001
5            -1            5   1942           19857                0.097799
3            -1            3   1889           19857                0.095130
2            -1            2   1888           19857                0.095080

In [81]:
# Inference
# most likely users start with page 9

In [83]:
# Initial state distribution
# that is last_page_id = -1
df[df['next_page_id'] == 'B'].sort_values('transition_probability', ascending=False)

     last_page_id next_page_id  count  page_val_count  transition_probability
128             9            B   1040            7893                0.131762
20              0            B   1035            8088                0.127967
56              3            B   1021            8012                0.127434
44              2            B   1015            8024                0.126496
32              1            B   1022            8115                0.125940
68              4            B   1009            8035                0.125576
116             8            B   1007            8037                0.125296
104             7            B    988            7986                0.123717
80              5            B    972            7858                0.123696
92              6            B    978            8095                0.120815

In [84]:
# Inference 
# Page 9 has a high bounce rate